/*============ GLOBAL STYLE ============*/
body {
    background: none repeat scroll 0 0 #F3F3EB;
    margin: 0;
    padding: 0;
    color: #333333;
    font-family: "Tahoma";
    font-size: 13px;
    line-height: 1.3em;
}

p {
	margin: 0;
}

/*============ TEMPLATE ============*/

#page {
	min-width: 780px;
}

#header {
	margin: 0 auto;
	width: 980px;
	clear: both;
}

#content {
	background-color: white;
	margin: 0 auto;
	width: 980px;
	clear: both;    
}

#footer {
    margin: 0 auto;
	width: 980px;
	padding-top: 10px;
	clear: both;
}

/*============ HEADER ============*/

#main_top {
    height: 224px;
    margin: 0 auto;
    padding: 0;
    width: 980px;
}
div.banner {
    background: url("#{resource['img:banner.png']}") no-repeat scroll center top #F3F3EB;
}

/*============ MENU ============*/

#top_menu {
    height: 54px;
    margin: 0 auto;
    width: 980px;
}

#topnav {
	background: url("#{resource['img:top_menu_bg.png']}") repeat-x scroll center top #6EA50B;
    float: left;
    font-weight: bold;
    height: 54px;
    margin: 0;
    padding: 0;
    width: 952px;
}

#topnav ul {
    float: left;
    list-style-type: none;
    margin: 0 0 0 11px;
    padding: 0;
    width: auto;
}

#topnav ul li {
    float: left;
    height: 54px;
    margin: 0;
    padding: 0;
    position: relative;
}
#topnav ul li a {
    color: #FFFFFF;
    display: block;
    float: left;
    font-weight: bold;
    height: 40px;
    padding: 14px 10px 0;
    text-decoration: none;
}

#topnav ul li a:hover {
    background-color: #444444;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}
#topnav ul li ul ul {
    margin: -50px 0 0 297px;
    z-index: 100;
}

#topnav ul li li {
    height: 35px;
    width: auto;
}

#topnav ul li li a {
    background: none repeat scroll 0 0 transparent;
    border-left: 0 none;
    border-top: 1px solid #DDDDDD;
    color: #000000;
    display: block;
    height: 20px;
    padding: 9px 10px 6px;
    text-transform: none;
    width: 277px;
}

#topnav ul li li a:hover {
    background: none repeat scroll 0 0 #333333;
    border-top: 1px solid #DDDDDD;
    height: 20px;
    left: 0;
    padding: 9px 10px 6px;
    width: 277px;
}

#topnav ul li ul {
    clear: left;
    display: block;
    height: 36px;
    left: -999em;
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    top: 54px;
    width: 277px;
    z-index: 99;
}

#topnav ul li:hover ul ul, #topnav ul li:hover ul ul ul {
    left: -999em;
}

#topnav ul li:hover ul, #topnav ul li li:hover ul, #topnav ul li li li:hover ul {
    left: auto;
}

#topnav ul li a.active {
    background: none repeat scroll 0 0 #6EA50B;
}

#topnav ul li a:hover {
    background: none repeat scroll 0 0 #6EA50B;
}

#topnav ul li a.active {
    background: none repeat scroll 0 0 #6EA50B;
}

#topnav ul li li {
    background: none repeat scroll 0 0 #6EA50B;
    opacity: 0.9;
}

#topnav ul li li a:hover {
    background: none repeat scroll 0 0 #5F8C0B;
    opacity: 0.9;
}

/*============ FOOTER ============*/

#footer a, #footer a:link, #footer a:visited {
    color: #93A2B0;
}

#footer a, #footer a:link, #footer a:visited {
    color: #93A2B0;
}

a:link, a:visited {
    color: #0B60AB;
    outline: medium none;
    text-decoration: none;
}